<nav class="navbar navbar-expand-md bg-body-tertiary mb-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="/" class="nav-link{{#if (ifEquals @exphbs.view 'home')}} active{{else}}{{/if}}">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="/posts" class="nav-link{{#if (ifEquals @exphbs.view 'posts')}} active{{else}}{{/if}}">
            Posts
          </a>
        </li>
        {{#if user}}
        <li class="nav-item">
          <a href="/feed" class="nav-link{{#if (ifEquals @exphbs.view 'feed')}} active{{else}}{{/if}}">
            Feed
          </a>
        </li>
        <li class="nav-item">
          <a href="/upload" class="nav-link{{#if (ifEquals @exphbs.view 'upload')}} active{{else}}{{/if}}">
            Upload
          </a>
        </li>
        <li class="nav-item">
          <a href="/account/{{user.id}}"
            class="nav-link{{#if (ifEquals @exphbs.view 'account')}} active{{else}}{{/if}}">
            My Account
          </a>
        </li>
        {{/if}}
      </ul>

      <div>
        {{> searchbar }}
      </div>

      <ul class="navbar-nav ms-md-3">
        <li class="nav-item dropdown">
          <button
            class="btn dropdown-toggle nav-link d-flex align-items-center"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-sun-fill theme-icon-active"></i>
          </button>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button type="button" class="dropdown-item active" data-bs-theme-value="light">
                <i class="bi bi-sun-fill"></i>
                <span>Light</span>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item" data-bs-theme-value="dark">
                <i class="bi bi-moon-stars-fill"></i>
                <span>Dark</span>
              </button>
            </li>
          </ul>
        </li>
      </ul>

      {{#unless user}}
      <ul class="navbar-nav ms-3">
        <li class="nav-item">
          <a href="/login" class="nav-link{{#if (ifEquals @exphbs.view 'login')}} active{{else}}{{/if}}">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link{{#if (ifEquals @exphbs.view 'register')}} active{{else}}{{/if}}">
            Register
          </a>
        </li>
      </ul>
      {{/unless}}
    </div>
  </div>
</nav>

<script defer>
  /*!
 * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
 * Copyright 2011-2022 The Bootstrap Authors
 * Licensed under the Creative Commons Attribution 3.0 Unported License.
 */

  (() => {
    'use strict'

    const storedTheme = localStorage.getItem('theme')

    const getPreferredTheme = () => {
      if (storedTheme) {
        return storedTheme
      }

      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    }

    const setTheme = function (theme) {
      if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-bs-theme', 'dark')
      } else {
        document.documentElement.setAttribute('data-bs-theme', theme)
      }
    }

    setTheme(getPreferredTheme())

    const showActiveTheme = theme => {
      const activeThemeIcon = document.querySelector('.theme-icon-active')
      const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
      const activeIconClass = btnToActive.querySelector('i').className

      document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
        element.classList.remove('active')
      })

      btnToActive.classList.add('active')
      activeThemeIcon.className = activeIconClass + ' theme-icon-active';
    }

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
      if (storedTheme !== 'light' || storedTheme !== 'dark') {
        setTheme(getPreferredTheme())
      }
    })

    window.addEventListener('DOMContentLoaded', () => {
      showActiveTheme(getPreferredTheme())

      document.querySelectorAll('[data-bs-theme-value]')
        .forEach(toggle => {
          toggle.addEventListener('click', () => {
            const theme = toggle.getAttribute('data-bs-theme-value')
            localStorage.setItem('theme', theme)
            setTheme(theme)
            showActiveTheme(theme)
          })
        })
    })
  })()
</script>