<div class="navbar">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item">
        <a
          href="/"
          class="nav-link{{#if (ifEquals @exphbs.view 'home')}} nav-link-active{{else}}{{/if}}"
        >
          Home
        </a>
      </li>
      <li class="nav-list-item">
        <a
          href="/posts"
          class="nav-link{{#if (ifEquals @exphbs.view 'posts')}} nav-link-active{{else}}{{/if}}"
        >
          Posts
        </a>
      </li>
      {{#if user}}
      <li class="nav-list-item">
        <a
          href="/feed"
          class="nav-link{{#if (ifEquals @exphbs.view 'feed')}} nav-link-active{{else}}{{/if}}"
        >
          Feed
        </a>
      </li>
      <li class="nav-list-item">
        <a
          href="/upload"
          class="nav-link{{#if (ifEquals @exphbs.view 'upload')}} nav-link-active{{else}}{{/if}}"
        >
          Upload
        </a>
      </li>
      <li class="nav-list-item">
        <a
          href="/account/{{user.id}}"
          class="nav-link{{#if (ifEquals @exphbs.view 'account')}} nav-link-active{{else}}{{/if}}"
        >
          My Account
        </a>
      </li>
      {{/if}}
    </ul>

    <div class="searchbar">
      {{> searchbar }}
    </div>

    {{#unless user}}
    <ul class="nav-list nav-list-auth">
      <li class="nav-list-item">
        <a
          href="/login"
          class="nav-link{{#if (ifEquals @exphbs.view 'login')}} nav-link-active{{else}}{{/if}}"
        >
          Login
        </a>
      </li>
      <li class="nav-list-item">
        <a
          href="/register"
          class="nav-link{{#if (ifEquals @exphbs.view 'register')}} nav-link-active{{else}}{{/if}}"
        >
          Register
        </a>
      </li>
    </ul>
    {{/unless}}
  </nav>

  {{> tags-list }}
</div>