<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Edit post {{post.id}}</h1>

      <form action="/posts/{{post.id}}/edit" method="post">
        <div class="mb-1">
          <img
            id="imagePreview"
            class="w-25 rounded"
            src="{{post.previewUrl}}"
            alt="{{post.tagsString}}"
          >
        </div>

        <div class="mb-3">
          <label class="form-label" for="sourceInput">Source</label>
          <input
            type="url"
            name="sourceUrl"
            id="sourceInput"
            placeholder="Source"
            class="form-control"
            value="{{post.sourceUrl}}"
          >
        </div>

        <div class="mb-3">
          <label class="form-label" for="tagsInput">
            Tags separated with spaces. (ex: long_hair green_hair)
          </label>
          <textarea
            type="text"
            name="tags"
            id="tagsInput"
            placeholder="Tags separated with spaces"
            class="form-control"
          >{{post.tagsString}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>
</div>