<div class="container">
  <div class="row mb-3">
    <div class="col">
      <div class="d-flex flex-wrap gap-1 justify-content-center">
        {{#each tags}}
        <a class="btn btn-secondary btn-sm text-decoration-none" href="/posts?query={{this.name}}">
          {{this.name}}
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row g-3">
    {{#each posts}}
    <div class="col-xl-2 col-lg-3 col-md-4 col-6">
      <a href="/posts/{{this.id}}">
        <img src="{{this.previewUrl}}" alt="{{this.tagsString}}" class="img-fluid w-100">
      </a>
    </div>
    {{/each}}
  </div>
</div>